# Created by .ignore support plugin (hsz.mobi)
/fklagent.exe
/.idea/vcs.xml
/temp.txt
/.idea/misc.xml
/.idea/modules.xml
/fklagent
/.idea/fklagent.iml
/log/fklagent_info.log
/Users/kcson/mywork/goproject/src/fasoo.com/fklagent
/fklagent_mac
/.idea/webServers.xml
